.category-btn {
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 0.5rem 1rem;
    margin: 0.25rem;
    background-color: #f8f9fa;
    cursor: pointer;
  }



  .custom-input {
    border-radius: 8px;
    padding: 10px 15px;
    font-size: 1rem;
  }
  
  .custom-btn {
    background-color: #1a2a5b;
    color: white;
    border-radius: 8px;
    padding: 10px 20px;
    font-weight: 500;
    border: none;
  }
  
  .custom-btn:hover {
    background-color: #14224a;
  }

  h1,h4{
    color: #1a2a5b;
   
  }
  

  .deals-scroll-container {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 10px 0;
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
  }
  
  .deals-scroll-container::-webkit-scrollbar {
    display: none;             /* Chrome, Safari and Opera only */
  }
  
  
  .deal-card {
    min-width: 250px;
    flex: 0 0 auto;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  