<!-- <nav class="navbar navbar-light bg-light">
    <div class="container">
      <div class="navbar-brand mt-0">
        <img src="assets/logo1.jpg" alt="icon" width="80"  height="84">
       
      </div>
    </div>
  </nav> -->



  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="assets/logo1.jpg" alt="" width="40" height="54" class="d-inline-block align-text-top">
     Deal Calicut
      </a>
    </div>
  </nav>


  <!-- <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="assets/logo1.jpg" alt="" width="40" height="54" class="d-inline-block align-text-top">
        Bootstrap
      </a>
  
      <div class="d-flex ms-auto">
        <a class="nav-link" href="#">Home</a>
        <a class="nav-link" href="#">About</a>
        <a class="nav-link" href="#">Contact</a>
      </div>
    </div>
  </nav> -->


  <!-- <nav class="navbar navbar-light bg-dark " >
    <a class="navbar-brand  " href="#" style="color:rgb(85, 98, 237);"><b>&#169; HAFC Bank Pvt.Ltd </b></a>
    <span class="quote text-light">Giving you freedom...</span>
  </nav> -->
  