



  <!-- <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="assets/logo1.jpg" alt="" width="40" height="54" class="d-inline-block align-text-top">
     Deal Calicut
      </a>
    </div>
  </nav> -->


 
  <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm " >
    <div class="container">
      <a class="navbar-brand fw-bold" href="#"> <img src="assets/dealcalicut logo.png" alt="" width="80" height="74" class="d-inline-block align-text-centre"><span>dealcalicut</span></a>
      <!-- <img src="assets/logo1.jpg" alt="" width="40" height="54" class="d-inline-block align-text-top"> -->
      <!-- <a class="navbar-brand fw-bold" href="#">💸 dealcalicut</a> -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Categories</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Submit a Deal</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
  
  <section class="text-center py-5 bg-light">
    <div class="container">
      <h1 class="fw-bold">Discover the Best Local Deals in Calicut!</h1>
      <p class="lead">Restaurants, fashion, spas, and more — all in one place.</p>
      <div class="input-group mb-3 w-50 mx-auto">
        <input type="text" class="form-control" placeholder="Search deals..." />
        <button class="btn btn-primary">View All Deals</button>
      </div>
    </div>
  </section>
  
   <!-- Categories -->
   <section class="text-center py-4">
    <div class="container">
      <h4 class="fw-bold mb-3">Featured Categories</h4>
      <div>
        <span class="category-btn">🍽 Restaurants</span>
        <span class="category-btn">👕 Clothing</span>
        <span class="category-btn">💆 Spas</span>
        <span class="category-btn">🏬 Local Stores</span>
        <span class="category-btn">🔥 Hot Deals</span>
      </div>
    </div>
  </section>